/* tags universais */
*{
    margin:0;    
}
body{
    background-color: #121037;
}
/* header */
header{
    font-size: 25px;
    height: 100px;
    background-color:#121037;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 3px yellow;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
    width: 70px;
}
/* fim header */

/* footer */

footer{
    font-size: 25px;
    border-top:solid 5px yellow;
    height: 200px;
    background-color: #121037;
    display: flex;
    justify-content: space-around;
    color:white;
    flex-direction: row;
    align-items: center;
}
footer img{
    height: 50px;
    width: 70px;
}
.indicie{
    display: flex;
    flex-direction: column;
}

/*fim footer */


button{
    border-radius: 30px;
    color:white;
    font-size: 30px;
    height: 80px;
    width: 350px;
    border:none;
}

a{
    text-decoration: none;
    color:white;

}

/* fim tags universais */


/* home page */
.inicio{
    font-size:30px;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frase{
    width: 600px;
    text-align: center;
}


.container-red{
    color:white;
    display: flex;
    flex-direction: row;
    background-color: #AB0505;
    justify-content: space-around;
    height: 800px;
    align-items: center;
}

.container-red button{
    background-color: #121037;
}

.box{
    width: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box p{
    font-size: 35px;
    margin: 75px;
}
.box h1{
    font-size: 50px;
}


.container-blue{
    color:white;
    display: flex;
    flex-direction: row;
    background-color: #121037;
    justify-content: space-around;
    height: 800px;
    align-items: center;
}

.container-blue button{
    background-color: #AB0505;
}

.imagem{
    height: 350px;
    width: 600px;
}




/*fim home page */