/* tags universais */
*{
    margin:0;    
}
body{
    background-color: #121037;
}
/* header */
header{
    font-size: 25px;
    height: 100px;
    background-color:#121037;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 3px gold;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
    width: 70px;
}
/* fim header */

/* footer */
footer{
    background-color: #121037;
    border-top:solid 5px gold;
    height: 200px;
    display: flex;
    color:white;
    flex-direction: column;
    text-align: center;
}
.footer{
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    color:white;
    flex-direction: row;
    align-items: center;
}
.footer img{
    height: 50px;
    width: 70px;
}
.indicie{
    display: flex;
    flex-direction: column;
}

/*fim footer */


button{
    border-radius: 30px;
    color:white;
    font-size: 30px;
    height: 80px;
    width: 350px;
    border:none;
    transition: 0.7s;
    border: solid gold 2px;
}
button:hover{
    transform: scale(1.1);
}


button:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color:white;
    transition: 0.7s;

}
a:hover{
    transform: scale(1.05);
}

header a:hover{
    color:#ce0d0d;
    transform: scale(1.1);
}


footer a:hover{
    color:#ce0d0d;
    transform: scale(1.1);
}

/* fim tags universais */


/* home page */
.inicio{
    font-size:30px;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px gold;
}

.frase{
    width: 600px;
    text-align: center;
}


.container-red{
    color:white;
    display: flex;
    flex-direction: row;
    background-color: #AB0505;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 3px gold;
}
.padding-home{
    padding: 150px;
}

.width-home{
    width: 35%;
}

.padding-vida{
    padding: 50px;
}

.width-vida{
    width: 50%;
}

.container-red button{
    background-color: #121037;
}

.box{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.box h2{
    text-align:justify;
}

.box p{
    font-size: 35px;
    margin: 75px;
}
.box h1{
    font-size: 50px;
}


.container-blue{
    color:white;
    display: flex;
    flex-direction: row;
    background-color: #121037;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 3px gold;
}

.container-blue button{
    background-color: #AB0505;
}

.imagem{
    height: 350px;
    width: 600px;
    border: 4px solid gold;
}

/*fim home page */

/*inicio cadastroUsuario */
.conteudo{
    height: 800px;
    background-image: url('../assets/IMG-6479.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background-color: #AB0505;
    max-height: 550px;
    width: 500px;
    border-radius: 15px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.formulario input{
    background-color:white;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    border:none;

}
.formulario p{
    color: white;
    font-size: 25px;

}
.formulario button{
    background-color: #121037;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;

}

.formulario h1{
    color: white;
    font-size: 40px;

}
/*fim cadastroUsuario */
.erro{
    color:red;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 150px;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    position: fixed;
    background-color:#121037;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-right: 2px gold solid;
}

.conteudoFamosos{
    background-color: #AB0505;
    margin-left: 25%;
    width: 75%;
    height: 100%;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:50px;
    padding-bottom: 30px;
}

.rotas{
    color: white;
    gap:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rotas .logo{
    font-size: 25px;
}

.rotas .logo img{
    width: 120px;
    height: 80px;
}

.buttons{
    gap:30px;
    display: flex;
    flex-direction: column;
}
.buttons button{
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: #AB0505;
    border-radius: 10px;
}



.titulos{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-direction: column;
}

.boxes{
    display: flex;
    margin: 10px;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.musicais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.musicais img{
    border-radius: 15px;
    width: 300px;
    height: 200px;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}

.linha{
    display:flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.container img{
    width: 70%;
    height: 30%;
    border-radius: 25px;
}
.container iframe{
    width: 800px;
    height: 500px;
    border-radius: 25px;
}

.kpis{
    display: flex;
    justify-content: space-around;
}
.kpi{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #121037;
    color: white;
    width: 29%;
    height: 10%;
    border-radius: 15px;
}

.kpi h1{
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-between;
}

.tituloDash{
    margin-top: 30px;
    margin-left: 30px;
}

.conteudoDash{
    background-color: #AB0505;
    margin-left: 25%;
    width: 75%;
    height: 100%;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    padding-bottom: 30px;
}

.dashboard{
    margin-left: 5px;
    background-color: #121037;
    border-radius: 15px;
    width: 99%;
    text-align: center;
}